@import "~bootstrap/scss/bootstrap.scss";

.container{
    background: white;
    align-self: center;
    justify-content: center;  
}

h1{
    text-align: center;
    color: deeppink;
    font-family: fantasy;
}

#tasksBox{
    background: white;
    margin-top: 15px;
}
